{% extends "layout.html.twig" %}
{% block content %}
	<h1>Esto es un template</h1>
	<table border="1">
		<tr>
			<td>{{ nombre|upper }}</td>
			<td>
				{% for asignatura in modulo %}
					{{ asignatura }}
				{% endfor %}
			</td>
		</tr>
		<tr>
			<td>C/
				{{ direccion.calle }}</td>
			<td>
				{{ direccion.numero }}
			</td>
		</tr>
		<tr>
			<td>parametro:
				{{ claseEjemplo.attr1 }}</td>
			<td>
				{{ claseEjemplo.getAttr1() }}
			</td>
		</tr>
	</table>
{% endblock %}
